{% block style %}
    <style>
        .home {
            position: relative;
        }

        
 
        .home-element {
         position: relative;
         text-align:center;
        }

        .element--text {

        }

        .social-media {
            display: flex;
            justify-content: space-between;
            width: 320px;
            margin-top:50px;
    
        }

        .social-media > a {
            color: #fff;
          text-transform:uppercase
       }

        .social-media--a {

        }

        .download {
            background-color: #fff;
            color: #4169E1;
            padding:16px 32px;
            text-transform:uppercase;
        }

        @media screen and (max-width: 1020px) {
            .site-content {

            }
        }
        @media screen and (max-width: 1360px) {
            .site-content {

            }
        }
        .home-image{
            max-width:100%
        }
        .home-content {
            position: absolute;
            left: 50%;
            bottom: 15%;
            transform: translateX(-50%);
        }
        .home-title{
           color: #fff;
           font-size:55px;
           margin-bottom:120px;

        }
    </style>
{% endblock %}

{% block body %}
    <section id="home" class="home">
        <div class="home-element">
            <img class="home-image" src="{{ asset('img/hunters-race-MYbhN8KaaEc-unsplash.jpg') }}" />
            
            <div class="home-content">
                <h1 class="home-title">Joel <br>
Maximilian <br> 
Böhm</h1>
                            {# if showDownloadButton  #}
                <a href="{{ path('downloadCv', {'hash': 'hash'}) }}" target="_blank">
                    <button type="button" class="download btn btn-primary bold">
                        Bewerbung herunterladen
                    </button>
                </a>
            {# endif #}

            <div class="social-media">
                <a href="Instagram">Instagram </a>
             <a href="Linkedin">LInkedin </a> 
                <a href="Twitter">Twitter </a> 


            </div>
                <div>

        </div>
    </section>
{% endblock %}
