{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .experience-content {
            display: flex;
            grid-gap: 32px;
        }
         .experience-title {
            color:#fff;
         }

        .experience-content-img {
            aspect-ratio: 4/3;
        }

        .experience-content-text {
            display: flex;
            flex-direction: column;
            color:#fff;

        }
        .experience-image {
            max-width: 45%;
        }

        @media screen and (max-width: 650px) {
            .experience-content {
                flex-direction: column;
            }

            .experience-content-img {
                aspect-ratio: 2/1;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="experience-content">
        <img class="experience-image" src="{{ asset(item.img) }}" />

<div>
        <h3 class="experience-title"> {{item.headline}}</h3>
        <p class="experience-content-text">
            {{ item.content }}
        </p> </div>
    </div>
{% endblock %}
