{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .experience {
            background: #101034;
            padding: 80px;
        }

        .experience-element {
            max-width: 1024px;
            display: grid;
            grid-gap: 32px;
        }

        @media screen and (max-width: 1020px){
            .experience {
                padding: 32px;
            }
        }
    </style>
{% endblock %}
{% block body %}

        {% set experiences = [
            {'headline': '4 Tage Praktikas',
            'content': '2023 habe ich die Schulischen 4-Tage Praktikas abgeschlossen.
             In diesen Praktiken war ich in den Bereichen Gartenbau ; Tierarzt ; Tischler ; Einzelhandel ',
            'link': '',
            'linkText': 'T',
            'img': 'img/unsplash_C713D7KSkaY.jpg'},
            
            {'headline': '3 wöchiges praktikum bei HDNET',
            'content': 'In der 9.Klasse hatte ich mein 3 wöchiges Praktikum gemacht.
             Dadurch habe ich Erfahrungen mit CSS , HTML , php sammeln können.',
             'link': '',
             'linktext': 'T',
             'img': 'img/unsplash_OqtafYT5kTw.jpg'},

        ] %}
    <section id="experience" class="experience">
        <div class="experience-element">
            {% for item in experiences %}
                {% include 'components/experience/experience-content.html.twig' %}
            {% endfor %}</div>
    </section>
{% endblock %}
