{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .career {
            background-color: rgb(var(--color-primary-darker));
            padding: 80px;
        }

        ul.career-element {
            max-width: 1024px;
            margin: 0;
            padding: 0 0 0 64px;
            -webkit-transform: translateZ(0);
        }

        @media screen and (max-width: 1020px){
            .career {
                padding: 32px;

            }
        }
    </style>
{% endblock %}
{% block body %}
    {% set career = [
        {'date': '2015',
            'contentDate': '2015-2019',
            'content': '  ging ich auf die Grundschule Brockhagen wodurch ich meine Kenntnisse und Fähigkeiten kennengelernt habe.',},
        {'date': '2019',
            'contentDate': '2019-2025',
            'content': 'wurde ich in die Realsschule Steinhagen einngeschuhlt wo ich dan in der 8.Klasse mein erstes
            Praktikum absolvieren durfte. Somit habe ich meinen erssten einblick in die Berufswelt bekommen.',
        },
        {'date': '2024',
            'contentDate': '2024',
            'content': ' durfte ich mein erstes  längeres Praktikum in der Werbe Agentur HDENT absolvieren. 
            Dort konnte ich einen ersten Einblick in den Beruf Webdesigner 
            bekommen und habe mich in den drei Wochen viel mit Design Grundlagen, sowie HTML und ein wenig CSS beschäftigt.',
        },
        {'date': '2025',
            'contentDate': 'bis 2025',
            'content': ' besuche ich weiterhin die Realschule Steinhagen wo ich
             voraussichtlich im Jahr 2025 mein Realschulabschluss  mit den  Kuhvermerkt  absolvieren werde.',
        },
    ] %}
    <section id="career" class="career">
        <h2 class="text-uppercase">Werdegang</h2>
        <ul class="career-element">
            {% for item in career %}
                {% include 'components/career/timeline.html.twig' %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}
